.snackbar {
    position: fixed;
    bottom: 20px;
    left: 10%;
    transform: translateX(-50%);
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    opacity: 0.9;
    animation: slideIn 0.5s, fadeOut 0.5s 2.5s;
    display: flex;
    align-items:center;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-50%) translateY(100%);
    }
    to {
      opacity: 0.9;
      transform: translateX(-50%) translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 0;
    }
  }

  .success {
    background-color: #28a745;
  }

  .error {
    background-color: #dc3545;
  }

  .warning {
    background-color: #ffc107;
  }

  .info {
    background-color: #17a2b8;
  }
